# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.venv
env
venv
ENV
env.bak
venv.bak
# specific version environments
env3.*

# Development environments
.idea           # JetBrains IDEs (e.g., PyCharm)
.vscode         # VS Code
.mypy_cache/    # Mypy static analysis cache
.pytest_cache/  # Pytest cache

# Miscellaneous
.DS_Store       # macOS
Thumbs.db       # Windows
*~              # temporary files
.coverage*      # coverage reports
htmlcov/
test.db         # test databases (if used)
log.txt
.cache/
expenses.json    # generated data file (if you want to exclude it)

# Sensitive files
.env            # Environment variable files (secrets)
secrets.toml    # other secrets files

# FastAPI specific
site/           # built documentation
docs_build/
docs.zip
archive.zip
